# Sensible Daten
.env
wallets/


# Python
__pycache__/
*.pyc

# Node/Hardhat
node_modules/
artifacts/
cache/
.env.local

# VSCode/IDE
.vscode/
.idea/

# Geth / Lighthouse data
geth-data/
lighthouse-data/
geth/
root/.lighthouse
jwtsecret

# Python cache (falls vorhanden)
__pycache__/
*.pyc

# Logs & temp files
*.log
*.ldb
*.bak
*.lock

# Ignoriere alle Trade-Logs
tradelog_*.json
trades/

# OS-specific
.DS_Store
Thumbs.db
